body {
  background-image: url(../img/bg-e-polis.png);
}

h1,
h2 {
  text-align: center;
}

p {
  line-height: 20px;
}

ul {
  padding: 16px;
}

img {
  max-width: 100%;
}

section {
  padding-bottom: 16px;
  padding-top: 16px;
}

.container {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 16px;
  padding-left: 16px;
  background-color: rgba(255, 255, 255, 0.8);
}

.med-banner {
  padding-top: 0;
}

.descr-txt {
  text-align: center;
  font-weight: bold;
}

.advantages-list-item,
.exclusion-list-item {
  margin: 8px;
}

/* .programs .container {
  padding: 0;
} */

.pogram-descr-item {
  font-weight: bold;
  margin-top: 20px;
}

.table {
  margin: 0 auto;
}

.t-data {
  margin: 0;
  padding: 8px;
  border: 1px solid black;
}

.frame {
  background-color: var(--secondary-bg);
  text-align: center;
  width: 90%;
  margin: 0 auto;
  box-shadow: 2px 2px 8px -1px rgba(43, 43, 197, 0.8);
  -webkit-box-shadow: 2px 2px 8px -1px rgba(43, 43, 197, 0.8);
  -moz-box-shadow: 2px 2px 8px -1px rgba(43, 43, 197, 0.8);
}

.form {
  text-align: center;
}

.red-txt {
  color: red;
}
