.hdr-descr {
  text-align: center;
  font-weight: bold;
}

.contacts .container {
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  box-shadow: 4px 4px 5px 0px rgba(98, 113, 255, 0.5);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(98, 113, 255, 0.5);
  -moz-box-shadow: 4px 4px 5px 0px rgba(98, 113, 255, 0.5);
  padding-top: 16px;
  padding-bottom: 16px;
}

.link-on-accent-bg {
  margin-top: 16px;
  padding-bottom: 16px;
  color: var(--secondary-bg);
  font-style: italic;
  font-weight: bold;
}

.about-item {
  border-radius: 8px;
  margin: 8px;
  text-align: center;
  padding: 28px 8px 0px 8px;
  background-color: #fff;
  border: 1px solid var(--primary-bg);
  box-shadow: 2px 2px 3px 0px rgba(98, 113, 255, 0.5);
}

.ancor-links {
  padding: 8px;
  border-radius: 16px;
  box-shadow: 2px 2px 3px 0px rgba(98, 113, 255, 0.5);

  position: relative; /* Для відносного позиціонування псевдоелемента */
  text-decoration: none; /* Вимикаємо стандартне підкреслення */
  color: #000; /* Колір тексту */
}

.ancor-links::after {
  content: ""; /* Додаємо псевдоелемент */
  position: absolute;
  left: 50%; /* Початкова позиція — центр */
  bottom: 0; /* Розташування під текстом */
  width: 0; /* Початкова ширина лінії */
  height: 2px; /* Товщина підкреслення */
  background-color: rgba(98, 113, 255, 0.5); /* Колір підкреслення */
  transition: all 0.3s ease; /* Додаємо плавність переходу */
}

.ancor-links:hover::after {
  width: 100%; /* Підкреслення стає повної ширини */
  left: 0; /* Починається зліва */
}

.epolicy2025img {
  width: 480px;
}

.epolicy2025img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--txt-color);
  font-size: 18px;
}

.contact-list-item {
  display: flex;
  align-items: center;
  justify-content: left;
}
.contacts-logo{
  margin-right: 16px;
}

@media (max-width: 768px) {
  .epolicy2025img {
    width: 100%;
  }

  .epolicy2025img-container {
    flex-direction: column;
  }
}
