/* Загальні стилі, які залишаються незмінними на всіх пристроях */
:root {
  --accent-color: rgba(43, 43, 197, 0.8);
  --txt-color: #363535;
  --secondary-bg: #f5f4fa;
  --primary-bg: #e5e5e5;
  --ftr-bg: #c4c4c4;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  display: block;
}

p {
  color: var(--txt-color);
}

img {
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding: 40px 16px;
  max-width: 960px;
  margin: 0 auto;
}

.hidden-link {
  text-decoration: none;
  color: inherit;
}

/* Header */
.hdr {
  background-color: rgba(91, 91, 238, 0.8);
  min-height: 60px;
  position: relative;
  box-shadow: 2px 2px 10px 0px rgba(54, 54, 235, 0.8);
}

.hdr-nav {
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.logo {
  display: block;
  border-radius: 50%;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  z-index: 23;
}

.contact-logo {
  display: block;
  width: 38px;
  margin: 12px;
}

/* 
burger
*/

.menu-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 20px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.menu {
  position: fixed;
  top: 0;
  right: -300px; /* Initially hidden to the right */
  width: 300px;
  height: 200px;
  margin-top: 60px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--secondary-bg);
  border-radius: 8px;
  transition: 0.4s;
}

.menu.open {
  right: 0; /* Slide in from the right */
  z-index: 5;
}

.menu-toggle.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-link {
  z-index: 10;
  display: block;
  padding: 8px;
}

/* Main page */
.main-page {
  background-color: #fff;
}

.banner .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;
}

.banner {
  background-color: var(--secondary-bg);
}

.banner-btn {
  all: initial;
  margin: 8px;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  background-color: #fff;
  color: var(--txt-color);
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: right;
  z-index: 2;
  background-size: contain;
  background-position: 0 0;
  position: relative;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 3px 0px rgba(98, 113, 255, 0.5);
  -webkit-box-shadow: 2px 2px 3px 0px rgba(98, 113, 255, 0.5);
  -moz-box-shadow: 2px 2px 3px 0px rgba(98, 113, 255, 0.5);
}

.banner-btn:hover .order {
  /* background-color: #bb1818; */
  transform: scale(1.01);
  transition-duration: 250ms;
  box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.74);
}

.banner-btn:hover {
  transition-duration: 250ms;
  box-shadow: 4px 4px 5px 0px rgba(98, 113, 255, 0.5);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(98, 113, 255, 0.5);
  -moz-box-shadow: 4px 4px 5px 0px rgba(98, 113, 255, 0.5);
}

.banner-btn-txt {
  display: block;
  /* max-width: 50%; */
  background-color: rgba(255, 255, 255, 0.5);
  /* margin-right: 16px; */
}

.banner-btn-txt-descr {
  font-size: 12px;
  /* max-width: 50%; */
  margin-top: 16px;
}

.discount-txt {
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  color: var(--accent-color);
}

.discount-txt-international {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  color: var(--accent-color);
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: var(--secondary-bg);
}

.avtocyvilka {
  width: 100%;
  background-image: url(../img/3129573.jpg);
  height: 220px;
  border: 1px solid #b3b2b2;
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-direction: column;
}

.international-ins {
  width: calc(50% - 16px);
  height: 220px;
  margin: 8px;
  box-sizing: border-box;
  border: 1px solid #b3b2b2;
}

.banner-btn-txt-container {
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: space-around;
  flex-direction: column;
  margin-right: 8px;
}

.travel {
  background-image: url(../img/undraw_Travel_booking_re_6umu.png);
}

.green-card {
  background-image: url(../img/gc-changed.png);
}

.order {
  font-size: 16px;
  padding: 6px;
  background-color: var(--accent-color);
  color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.order img {
  margin-left: 4px;
}

.about {
  background-color: #fff;
}

.about .container {
  padding: 0;
}

.about-list,
.additional-ins-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-list-title {
  margin-top: 12px;
  text-align: center;
}

.about-list-item {
  border-radius: 8px;
  width: calc(50% - 16px);
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 28px;
  background-color: #fff;
  border: 1px solid var(--primary-bg);
  box-shadow: 2px 2px 3px 0px rgba(98, 113, 255, 0.5);
}

.about-icon {
  display: block;
  margin: 0 auto;
}

.about-list-heading {
  text-align: center;
}

.how-to-use-list-item {
  display: flex;
  align-items: center;
}

.how-to-use-list-item {
  padding: 8px;
  background-color: var(--accent-color);
  border: 1px solid var(--primary-bg);
  border-radius: 8px;
  margin: 8px;
}

.how-to-use-num {
  font-size: 22px;
  font-weight: 600;
  padding: 12px 18px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 100%;
  background-color: #fff;
}

.how-to-use-txt {
  font-size: 18px;
  color: #fff;
}

.ad-ins-heading {
  text-align: center;
}

.additional-ins-list {
  display: flex;
  flex-wrap: wrap;
}

.additional-ins-list-item {
  min-width: 200px;
  max-width: 340px;
  border: 1px solid var(--primary-bg);
  box-shadow: 4px 4px 5px 0px rgba(98, 113, 255, 0.5);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(98, 113, 255, 0.5);
  -moz-box-shadow: 4px 4px 5px 0px rgba(98, 113, 255, 0.5);
  border-radius: 8px;
  margin: 8px;
  padding: 28px 8px 0px 8px;
  background-color: rgba(255, 255, 255, 0.8);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.additional-contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.contact-logo-ad-ins {
  width: 32px;
  margin: 0;
}

.contact-link {
  padding: 12px;
}

.article {
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  background-image: url(../img/bg-e-polis.png);
}

.subbaner {
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.partners {
  background-color: var(--primary-bg);
  text-align: center;
}

.partner-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.7);
}

.partner-list-item {
  margin: 8px;
  padding: 8px;
  /* background-color: #fff; */
  border-radius: 8px;
}

.gc-txt {
  background-color: rgba(255, 255, 255, 0.7);
}

.descr-heading {
  margin-top: 50px;
  text-align: center;
  color: var(--txt-color);
  font-size: 32px;
  font-weight: bold;
}

.cta-btn {
  background-color: rgba(106, 106, 247, 0.8);
  color: var(--txt-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 32px;
  width: 80%;
  box-shadow: 4px 4px 5px 0px rgba(98, 113, 255, 0.5);
  border-radius: 8px;
  margin: 32px auto 46px;
}

.btn-txt {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: block;
  margin-left: 16px;
}

.ins-block {
  margin-right: auto;
  margin-left: auto;
}

.ins-block-list {
  display: flex;
  flex-wrap: wrap;
}

.ins-block-list-item {
  width: 440px;
  margin: 8px auto;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid var(--primary-bg);
  box-shadow: 4px 4px 5px 0px rgba(138, 126, 126, 0.75);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(138, 126, 126, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(138, 126, 126, 0.75);
  border-radius: 8px;
}

.accordion-item {
  margin: 5px;

  box-shadow: 2px 5px 8px 0px rgba(48, 46, 46, 0.75);
  -webkit-box-shadow: 2px 5px 8px 0px rgba(48, 46, 46, 0.75);
  -moz-box-shadow: 2px 5px 8px 0px rgba(48, 46, 46, 0.75);
  border-radius: 8px;
  background-color: #fff;
}

.accordion-header {
  cursor: pointer;
  background-color: var(--accent-color);
  color: #f5f4fa;
  padding: 8px;
  margin: 0;
}

.accordion-content {
  display: none;
  padding: 8px;
}

/* Footer */
.ftr {
  min-height: 250px;
  background-color: var(--ftr-bg);

  padding: 20px;
}

.ftr-nav {
  flex-direction: column;
  padding: 8px;
}

.about-title {
  text-align: center;
}

.questions {
  text-align: center;
}

.copy {
  text-align: center;
  margin-bottom: 20px;
}

/* PAGES */

.fr {
  border-radius: 8px;
  box-shadow: 1px 4px 3px 1px rgba(115, 93, 214, 0.75);
}

/* Медіазапит для пристроїв з меншими екранами, наприклад, мобільних телефонів */
@media (max-width: 768px) {
  .container {
    padding: 20px 8px;
    max-width: 100%;
    margin: 0 auto;
  }

  .hdr {
    height: 40px;
  }

  .hdr-nav {
    max-width: 100%;
  }

  .banner-btn {
    font-size: 24px;
  }

  .banner-btn-txt {
    font-size: 18px;
  }

  .green-card .banner-btn-txt {
    width: 60%;
  }

  .green-card {
    background-position: top;
    background-size: contain;
  }

  .travel {
    background-position: left;
  }

  .banner-btn-txt-descr {
    margin-top: 12px;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .travel .banner-btn-txt-descr {
    width: 70%;
  }

  .avtocyvilka {
    width: 100%;
    height: 200px;
  }

  .avtocyvilka .banner-btn-txt-descr {
    max-width: 65%;
  }

  .avtocyvilka .banner-btn-txt {
    font-size: 24px;
  }

  .international-ins {
    font-size: 20px;
    width: calc(50% - 8px);
    height: 200px;
    margin: 4px;
  }

  .discount-txt {
    font-size: 18px;
  }

  .discount-txt-international {
    font-size: 16px;
  }

  /* .travel .banner-btn-txt {
    font-size: 16px;
    width: 80%;
    text-align: right;
  } */

  .order {
    font-size: 12px;
  }

  .about-title {
    font-size: 24px;
  }

  .accordion {
    margin: 0 auto;
    width: 100%;
  }

  .accordion-item {
    margin: 3px;
  }

  .about-list-item {
    width: 100%;
    padding: 16px;
    margin-bottom: 8px;
  }

  .ins-block-list-item {
    width: 300px;
  }

  .cta-btn {
    padding: 24px 24px;
  }

  .btn-txt {
    font-size: 24px;
  }

  .ftr-contact-logo {
    display: block;
    width: 32px;
    margin: 8px;
  }
}
