body {
  background-image: url(../img/bg-e-polis.png);
}

h1,
h2 {
  text-align: center;
}
ul {
  padding: 20px;
}

li {
  margin-bottom: 12px;
}

.fr {
  border-radius: 8px;
  box-shadow: 4px 3px 2px 1px rgba(115, 93, 214, 0.75);
}
